@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;

  --black-clr-100: #676767;
  --black-clr-200: #4a4a4a;
  --black-clr-300: #0d0e10;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 60, 255, 0.1);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 1000;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid rgba(0, 60, 255, 0.9);
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid rgb(98, 0, 255);
}

p {
  color: white;
  font-family: "arial";
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;

  a {
    color: teal;
  }
}

.content {
  width: 85%;
  margin: 0 auto;
  padding: 0px 20px;
}

@media (max-width: 540px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }
}

.heading {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 540px) {
  .heading {
    font-size: 28px;
    font-weight: 700;
  }
}

.navbar {
  padding: 25px 0px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mail-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      color: var(--black-clr-100);
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 20px;
        height: 20px;
        margin-right: 30px;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      margin-left: 40px;

      a {
        color: var(--black-clr-100);
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
    }
  }
}

.hero {
  padding-top: 25px;
  padding-bottom: 100px;
  text-align: center;

  .hero-img {
    width: fit-content;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    img {
      width: 100px;
      height: 100px;
      user-select: none;
    }
  }

  .welcome {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: var(--black-clr-200);
    font-weight: 700;
    margin-bottom: 20px;
  }

  .hero-intro {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 52px;
    color: var(--black-clr-300);
    font-weight: 800;
    max-width: 500px;
    margin-bottom: 30px;
    line-height: 1;
  }

  .hero-intro-p {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    color: var(--black-clr-100);
    font-weight: 600;
    max-width: 400px;
    margin-bottom: 30px;
  }

  .hero-connect-btn {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;

    button {
      padding: 1rem 2rem;
      background-color: var(--black-clr-300);
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      color: #ffffff;
      border-radius: 40px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .hero-img {
      img {
        width: 80px;
        height: 80px;
        user-select: none;
      }
    }

    .welcome {
      font-size: 18px;
    }

    .hero-intro {
      font-size: 42px;
    }
  }
}

@media (max-width: 540px) {
  .hero {
    //   .hero-img {
    //     img {
    //       width: 80px;
    //       height: 80px;
    //       user-select: none;
    //     }
    //   }

    .welcome {
      font-size: 16px;
    }

    .hero-intro {
      font-size: 32px;
    }
  }
}

.tech {
  padding-top: 25px;
  padding-bottom: 100px;

  .content {
    max-width: 990px;
  }

  .heading {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .tech-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px -20px;
    flex-wrap: wrap;

    li {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
      flex: 0 0 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.bubble-io {
        img {
          height: 30px;
        }
      }

      &.figma {
        img {
          height: 60px;
        }
      }

      &.vuejs {
        img {
          height: 60px;
        }
      }

      &.nodejs {
        img {
          height: 60px;
        }
      }

      &.glide {
        img {
          height: 45px;
        }
      }

      img {
        filter: grayscale(100%);
        transition: all 0.3s;

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}

.projects {
  padding-bottom: 50px;

  .heading {
    width: fit-content;
    margin-bottom: 40px;
  }

  .project-list {
    margin: 0px -20px;
    display: flex;
    flex-wrap: wrap;

    .item {
      margin-top: 60px;
      padding: 0 20px;
      flex: 0 0 50%;

      &:first-child {
        margin-top: 0px;
      }

      .image-container {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          position: relative;
          height: 68%;
        }

        &.ridgeway {
          background-color: rgba(178, 172, 159, 0.5);
        }

        &.erazerowaste {
          background-color: #e8caec;
        }
      }

      h3 {
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        color: var(--black-clr-300);
      }

      p {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: var(--black-clr-100);
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 540px) {
  .projects {
    padding-bottom: 50px;

    .heading {
      margin-bottom: 40px;
    }

    .project-list {
      margin: 0px -20px;
      display: flex;
      flex-wrap: wrap;

      .item {
        flex: 0 0 100%;
      }
    }
  }
}
